<!-- Footer Section -->
<footer class="footer d-flex flex-column align-items-center position-relative">
    <div class="footer__top w-100">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-3 col-sm-6 ml-xl-5">
                    <div class="footer__block">
                        <a href="./index.html" class="footer__block__logo d-inline-block">
                            <img src="./assets/images/logo/logo.svg" alt="logo image" class="img-fluid">
                        </a>
                        <p>The rise of mobile devices transforms the way we consume information entirely</p>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="footer__block">
                        <h3 class="footer__block__title">Company</h3>
                        <ul class="footer__block__list mb-0">
                            <li class="footer__block__list__item">
                                <a href="#!" class="footer__block__list__link">What we do</a>
                            </li>
                            <li class="footer__block__list__item">
                                <a href="#!" class="footer__block__list__link">Case studies</a>
                            </li>
                            <li class="footer__block__list__item">
                                <a href="#!" class="footer__block__list__link">Blog</a>
                            </li>
                            <li class="footer__block__list__item">
                                <a href="#!" class="footer__block__list__link">Careers</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer__block">
                        <h3 class="footer__block__title">Support</h3>
                        <ul class="footer__block__list mb-0">
                            <li class="footer__block__list__item">
                                <a href="#!" class="footer__block__list__link">Getting Started</a>
                            </li>
                            <li class="footer__block__list__item">
                                <a href="#!" class="footer__block__list__link">Help Center</a>
                            </li>
                            <li class="footer__block__list__item">
                                <a href="#!" class="footer__block__list__link">Report a bug</a>
                            </li>
                            <li class="footer__block__list__item">
                                <a href="#!" class="footer__block__list__link">FAQs</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer__block mb-0">
                        <h3 class="footer__block__title">Legal</h3>
                        <ul class="footer__block__list mb-0">
                            <li class="footer__block__list__item">
                                <a href="#!" class="footer__block__list__link">Terms & Conditions</a>
                            </li>
                            <li class="footer__block__list__item">
                                <a href="#!" class="footer__block__list__link">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom text-center">
        <div class="container">
            <p class="footer__copyright font-italic mb-0">Copyright <a href="./index.html" class="footer__copyright__link">AppName</a>. All right Reserved</p>
        </div>
    </div>
</footer>