
<body>

	
    <app-navbar></app-navbar>
	<!-- Off Canvas Menu Toggler -->
	<div class="offCanvasMenuCloser position-fixed" data-toggle="collapse" data-target="#navbarSupportedContent" role="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></div>

	<!-- Sub Banner Section -->
	<section class="sub-banner position-relative">
		<div id="sub-banner__canvas" class="sub-banner__canvas position-absolute w-100 h-100"></div>
		<div class="parallax-banner position-absolute w-100 h-100 overflow-hidden">
			<span class="shape shape--1 d-inline-block user-select-none position-absolute">
				<img src="./assets/images/sub-banner/shape-1.svg" alt="Banner Shape" class="shape__image shape__image--1 img-fluid" style="--i:0">
			</span>
			<span class="shape shape--2 d-inline-block user-select-none position-absolute">
				<img src="./assets/images/sub-banner/shape-2.svg" alt="Banner Shape" class="shape__image shape__image--2 img-fluid" style="--i:1">
			</span>
			<span class="shape shape--3 d-inline-block user-select-none position-absolute">
				<img src="./assets/images/sub-banner/shape-3.svg" alt="Banner Shape" class="shape__image shape__image--3 img-fluid" style="--i:2">
			</span>
			<span class="shape shape--4 d-inline-block user-select-none position-absolute">
				<img src="./assets/images/sub-banner/shape-4.svg" alt="Banner Shape" class="shape__image shape__image--4 img-fluid" style="--i:3">
			</span>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<h1 class="sub-banner__title font-weight-bold mb-0">Blog</h1>
				</div>
			</div>
		</div>
	</section>

	<!-- Blog Section -->
	<section class="blog section-gap position-relative">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center mb-5">
					<div class="section-header">
						<h1 class="section-header__title secondary-color font-weight-bold">"Blog Quote Goes Here"</h1>
					</div>
					<div class="col-lg-5 mx-auto">
						<p>Proin eget tortor risus. Nulla porttitor accumsan tincidunt. Curabitur arcu erat, accumsan id</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="blog__card d-flex flex-column">
						<a href="./blog-details.html" class="blog__card__head overflow-hidden">
							<img src="./assets/images/blogs/blog-image-1.png" alt="Blog Image" class="blog__card__image w-100">
						</a>
						<div class="blog__card__body">
							<h3 class="blog__card__title">
								<a href="./blog-details.html" class="blog__card__title__link">App Store Launch Checklist</a>
							</h3>
							<div class="blog__card__meta d-flex flex-wrap align-items-center justify-content-between">
								<a href="#!" class="tag-btn tag-btn--pill rounded-pill d-inline-block">Topic Name</a>
								<p class="blog__card__meta__time d-inline-flex align-items-center mb-0">
									<span class="appname-icon-clock blog__card__meta__time__icon mr-2"></span>
									10 October 2021
								</p>
							</div>
							<div class="blog__card__authore d-flex align-items-center">
								<div class="blog__card__authore__avatar flex-shrink-0 rounded-circle position-relative overflow-hidden">
									<img src="./assets/images/blogs/blog-author-image.png" alt="Author avatar" class="position-absolute w-100 h-100">
								</div>
								<div class="blog__card__authore__details">
									<h4 class="blog__card__authore__name font-weight-bold">
										<a href="#!" class="blog__card__authore__name__link">Dominiq Donald</a>
									</h4>
									<p class="blog__card__authore__role mb-0">Owner of Community Corals</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="blog__card d-flex flex-column">
						<a href="./blog-details.html" class="blog__card__head overflow-hidden">
							<img src="./assets/images/blogs/blog-image-2.png" alt="Blog Image" class="blog__card__image w-100">
						</a>
						<div class="blog__card__body">
							<h3 class="blog__card__title">
								<a href="./blog-details.html" class="blog__card__title__link">App Store Launch Checklist</a>
							</h3>
							<div class="blog__card__meta d-flex flex-wrap align-items-center justify-content-between">
								<a href="#!" class="tag-btn tag-btn--pill rounded-pill d-inline-block">Topic Name</a>
								<p class="blog__card__meta__time d-inline-flex align-items-center mb-0">
									<span class="appname-icon-clock blog__card__meta__time__icon mr-2"></span>
									10 October 2021
								</p>
							</div>
							<div class="blog__card__authore d-flex align-items-center">
								<div class="blog__card__authore__avatar flex-shrink-0 rounded-circle position-relative overflow-hidden">
									<img src="./assets/images/blogs/blog-author-image.png" alt="Author avatar" class="position-absolute w-100 h-100">
								</div>
								<div class="blog__card__authore__details">
									<h4 class="blog__card__authore__name font-weight-bold">
										<a href="#!" class="blog__card__authore__name__link">Dominiq Donald</a>
									</h4>
									<p class="blog__card__authore__role mb-0">Owner of Community Corals</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="blog__card d-flex flex-column">
						<a href="./blog-details.html" class="blog__card__head overflow-hidden">
							<img src="./assets/images/blogs/blog-image-3.png" alt="Blog Image" class="blog__card__image w-100">
						</a>
						<div class="blog__card__body">
							<h3 class="blog__card__title">
								<a href="./blog-details.html" class="blog__card__title__link">App Store Launch Checklist</a>
							</h3>
							<div class="blog__card__meta d-flex flex-wrap align-items-center justify-content-between">
								<a href="#!" class="tag-btn tag-btn--pill rounded-pill d-inline-block">Topic Name</a>
								<p class="blog__card__meta__time d-inline-flex align-items-center mb-0">
									<span class="appname-icon-clock blog__card__meta__time__icon mr-2"></span>
									10 October 2021
								</p>
							</div>
							<div class="blog__card__authore d-flex align-items-center">
								<div class="blog__card__authore__avatar flex-shrink-0 rounded-circle position-relative overflow-hidden">
									<img src="./assets/images/blogs/blog-author-image.png" alt="Author avatar" class="position-absolute w-100 h-100">
								</div>
								<div class="blog__card__authore__details">
									<h4 class="blog__card__authore__name font-weight-bold">
										<a href="#!" class="blog__card__authore__name__link">Dominiq Donald</a>
									</h4>
									<p class="blog__card__authore__role mb-0">Owner of Community Corals</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="blog__card blog__card--horizontal row mb-0">
						<div class="col-lg-7 col-md-6 d-flex pr-md-0">
							<a href="./blog-details.html" class="blog__card__head w-100 h-100 overflow-hidden">
								<img src="./assets/images/blogs/blog-image-4.png" alt="Blog Image" class="blog__card__image w-100 h-100">
							</a>
						</div>
						<div class="col-lg-5 col-md-6 d-flex pl-md-0">
							<div class="blog__card__body w-100">
								<h3 class="blog__card__title">
									<a href="./blog-details.html" class="blog__card__title__link">App Store Launch Checklist</a>
								</h3>
								<p class="mb-lg-5">Lorem ipsum dolor sit amet, consectetur adiing elit. Vel dui elit ornare facilisi molestie lectus.  Lorem ipsum dolor sit amet, consectetur adiing elit. Vel dui elit ornare facilisi molestie lectus.  Lorem ipsum dolor sit amet,</p>
								<p>consectetur adiing elit. Vel dui elit ornare facilisi molestie lectus.  Lorem ipsum dolor sit amet, consectetur adiing elit. Vel dui elit ornare facilisi molestie lectus.  Lorem ipsum dolor sit amet, </p>
								<div class="blog__card__meta d-flex flex-wrap align-items-center justify-content-between mb-0">
									<a href="#!" class="tag-btn tag-btn--pill rounded-pill d-inline-block">Topic Name</a>
									<p class="blog__card__meta__time d-inline-flex align-items-center mb-0">
										<span class="appname-icon-clock blog__card__meta__time__icon mr-2"></span>
										10 October 2021
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

<app-footer></app-footer>

	<!-- Scroll To Top Button -->
	<div class="scroll-top position-fixed">
		<button class="scroll-top__btn border-0 d-inline-flex align-items-center justify-content-center"><span class="appname-icon-up"></span></button>
	</div>

	
</body>