<app-navbar></app-navbar>
	<!-- Pricing Section -->
	<section id="pricing" class="pricing section-gap">
		<div class="container">
			<div class="row justify-content-center">
				<div class="section-header text-center col-12">
					<h1 class="section-header__title secondary-color font-weight-bold">The <span class="primary-color">right price</span> for you</h1>
				</div>
				<div class="col-lg-6 text-center px-lg-0">
					<p class="pricing__text">The rise of mobile devices transforms the way we consume information entirely and the world's most elevant channels such as Facebook</p>
				</div>
				<div class="col-12 mb-5"></div>
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="pricing__block mx-auto active">
						<div class="pricing__block__head text-center">
							<h2 class="pricing__block__price"><span class="pricing__block__price__amount secondary-color">$0</span><span class="pricing__block__price__period">/month</span></h2>
							<h3 class="pricing__block__access text-uppercase secondary-color">Free</h3>
						</div>
						<div class="pricing__block__body d-flex flex-column align-items-center">
							<ul class="pricing__block__list">
								<li class="pricing__block__list__item">10 Links</li>
								<li class="pricing__block__list__item">Drag & Drop Editor</li>
								<li class="pricing__block__list__item">Header Image</li>
								<li class="pricing__block__list__item">Qr Code</li>
								<li class="pricing__block__list__item">Social Icons</li>
								<li class="pricing__block__list__item">Button Icon</li>
							</ul>
							<a href="#!" class="primary-btn d-inline-block">Get Started</a>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="pricing__block mx-auto">
						<div class="pricing__block__head text-center position-relative">
							<h2 class="pricing__block__price"><span class="pricing__block__price__amount secondary-color">$99</span><span class="pricing__block__price__period">/month</span></h2>
							<h3 class="pricing__block__access text-uppercase secondary-color">Pro</h3>
							<p class="pricing__block__recommended position-absolute mb-0 w-100">*Most Popular</p>
						</div>
						<div class="pricing__block__body d-flex flex-column align-items-center">
							<ul class="pricing__block__list">
								<li class="pricing__block__list__item">10 Links</li>
								<li class="pricing__block__list__item">Drag & Drop Editor</li>
								<li class="pricing__block__list__item">Header Image</li>
								<li class="pricing__block__list__item">Qr Code</li>
								<li class="pricing__block__list__item">Social Icons</li>
								<li class="pricing__block__list__item">Button Icon</li>
							</ul>
							<a href="#!" class="primary-btn d-inline-block">Get Started</a>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6">
					<div class="pricing__block mx-auto">
						<div class="pricing__block__head text-center">
							<h2 class="pricing__block__price"><span class="pricing__block__price__amount secondary-color">$99</span><span class="pricing__block__price__period">/month</span></h2>
							<h3 class="pricing__block__access text-uppercase secondary-color">AGENCY</h3>
						</div>
						<div class="pricing__block__body d-flex flex-column align-items-center">
							<ul class="pricing__block__list">
								<li class="pricing__block__list__item">10 Links</li>
								<li class="pricing__block__list__item">Drag & Drop Editor</li>
								<li class="pricing__block__list__item">Header Image</li>
								<li class="pricing__block__list__item">Qr Code</li>
								<li class="pricing__block__list__item">Social Icons</li>
								<li class="pricing__block__list__item">Button Icon</li>
							</ul>
							<a href="#!" class="primary-btn d-inline-block">Get Started</a>
						</div>
					</div>
				</div>
				<div class="col-12 text-center">
					<a href="#!" class="secondary-btn d-inline-block mt-lg-5">More pricing plans</a>
				</div>
			</div>
		</div>
	</section>
	<app-footer></app-footer>